<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>PROFILER</Marker>
        <!--<OnMatch>DENY</OnMatch>-->
        <OnMatch>NEUTRAL</OnMatch>
    </turboFilter>

    <appender name="log" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %date{ISO8601} %X{sId} %X{cId} %F:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!--audit log-->
    <appender name="audit" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread] %date{ISO8601} %X{sId} %X{cId} %F:%L - %msg%n
            </pattern> <!-- the layout pattern used to format log entries -->
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <logger name="com.networknt" level="${LOGBACK_LEVEL}" additivity="false">
        <appender-ref ref="log"/>
    </logger>

    <logger name="com.company" level="${LOGBACK_LEVEL}" additivity="false">
        <appender-ref ref="log"/>
    </logger>

    <logger name="Audit" level="${LOGBACK_LEVEL}" additivity="false">
        <appender-ref ref="audit"/>
    </logger>

    <root name="io.undertow" level="info">
        <appender-ref ref="log"/>
    </root>    

    ${LOGBACK_DUPLICATE_FILTER}

</configuration>
