target/
.idea/
.project
.classpath
.settings
.metadata/
*.iml
*.log
*.tmp
*.zip
*.bak
src/main/resources/config/
src/main/resources/config-out/
src/test/resources/config/
src/test/resources/config-out/



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!rest.zip

.DS_Store
